/* Definição de variáveis para cores dos temas */
:root {
    --background-color: #f0f0f0;
    --text-color: #333;
    --header-background: #333;
    --header-text-color: white;
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --card-background: white;
    --card-text-color: #555;
    --footer-background: #333;
    --footer-text-color: white;
}

/* Dark Mode */
body.dark-mode {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --header-background: #1f1f1f;
    --header-text-color: #f0f0f0;
    --link-color: #90caf9;
    --link-hover-color: #64b5f6;
    --card-background: #1e1e1e;
    --card-text-color: #e0e0e0;
    --footer-background: #1f1f1f;
    --footer-text-color: #f0f0f0;
}

/* Aplicando as variáveis de cores */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}
/*Header*/
.main-header {
    background-color: var(--header-background);
    color: var(--header-text-color);
}

.main-header nav a {
    color: var(--header-text-color);
}

.main-header nav a:hover {
    color: var(--link-hover-color);
}

.category-section, .category-item {
    background-color: var(--card-background);
    color: var(--card-text-color);
}

.category-item a {
    color: var(--link-color);
}

.category-item a:hover {
    color: var(--link-hover-color);
}
/* Rodapé */
footer {
    background-color: var(--footer-background);
    color: var(--footer-text-color);
}
